# Build artifacts
__pycache__/
*.py[cod]
build/
dist/
sdist/
docs/_build/
eggs/
*egg-info/
*.egg
/rpmbuild-output/
conf/settings.py
*.src.rpm
greenwave-image-build.sh

# Vim temporary files
*~
*.swp
*.swo

# Unit tests and coverage reports
.tox/
.coverage
.cache
coverage.xml
htmlcov
greenwave-test-cache.dbm*
.pytest_cache

# virtualenv
.venv/
venv/

# Other
.idea
.vagrant/
.vscode/
docker/home/
