---
ci:
  autoupdate_schedule: monthly
  skip:
    - hadolint-docker
    # renovate exceeds tier max size 250MiB on pre-commit.ci
    # (due to huge node.js dependencies)
    - renovate-config-validator

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
        args:
          - --allow-multiple-documents
          - --unsafe
      - id: debug-statements
      - id: end-of-file-fixer
      - id: trailing-whitespace

  # Sort imports
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        name: isort
        args:
          - --line-length=79
          - --profile=black

  # Remove unused imports, variables, statements
  - repo: https://github.com/PyCQA/autoflake
    rev: v2.3.1
    hooks:
      - id: autoflake

  # Auto-update syntax
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
      - id: pyupgrade
        args:
          - --py311-plus

  # Linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      - id: ruff
        args:
          # ignore: E501 Line too long
          - --ignore=E501
      - id: ruff-format

  # Linter and formatter
  - repo: https://github.com/Instagram/Fixit
    rev: v2.2.1
    hooks:
      - id: fixit-fix

  # Type linter
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
      - id: mypy
        args:
          - --disable-error-code=import-untyped
          - --ignore-missing-imports

  # Security linter
  - repo: https://github.com/pycqa/bandit
    rev: 1.9.3
    hooks:
      - id: bandit
        name: bandit
        exclude: tests/

  # Dockerfile linter
  - repo: https://github.com/hadolint/hadolint
    rev: v2.14.0
    hooks:
      - id: hadolint-docker

  # renovate.json validator
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 42.84.0
    hooks:
      - id: renovate-config-validator
