---
version: '3'
services:
  greenwave: &greenwave
    build: .
    user: ${DEV_USER_ID:-1000}
    working_dir: /src
    env_file: ["docker/dev.env"]
    command: ["bash", "-c", "./docker/dev-command.sh"]
    volumes:
      - ./:/src:ro,z
      - ./docker/home:/home/dev:rw,z
      - ./docker/greenwave-settings.py:/etc/greenwave/settings.py:ro,z
      - ./conf/policies/:/etc/greenwave/policies/:ro,z
      - ./conf/subject_types/:/etc/greenwave/subject_types/:ro,z
    ports:
      - 127.0.0.1:8080:8080
    healthcheck: &greenwave-healthcheck
      test: >-
        /src/docker/docker-entrypoint.sh python -c 'import requests;
        requests.get("http://127.0.0.1:8080/healthcheck").raise_for_status();'
      interval: 1s
      timeout: 5s
      retries: 30
    depends_on:
      - memcached
      - resultsdb
      - waiverdb
      - statsd

  statsd:
    image: quay.io/prometheus/statsd-exporter:latest@sha256:4e7a1f00b9b23ef0c5b4fdbb7f4748bdc218cfdff04acc8033bc5b9f7c15009d
    ports:
      - 127.0.0.1:9102:9102  # http
      - 127.0.0.1:9125:9125  # statsd

  resultsdb-db: &resultsdb-db
    image: docker.io/library/postgres:18.1-alpine@sha256:b40d931bd0e7ce6eecc59a5a6ac3b3c04a01e559750e73e7086b6dbd7f8bf545
    restart: always
    env_file: ["docker/resultsdb-db.env"]
    healthcheck:
      <<: *greenwave-healthcheck
      test: "pg_isready -U postgres || exit 1"

  resultsdb:
    image: quay.io/factory2/resultsdb:latest@sha256:d75d6e737c677104fb7e96469139141239afaef72945b43c6ad1f613f5de21fd
    environment:
      - GREENWAVE_LISTENERS=${GREENWAVE_LISTENERS:-1}
    command: ["bash", "-c", "/start.sh"]
    volumes:
      - ./docker/home:/home/dev:rw,z
      - ./docker/resultsdb-command.sh:/start.sh:ro,z
      - ./docker/resultsdb-settings.py:/etc/resultsdb/settings.py:ro,z
      - ./docker/resultsdb.conf:/etc/httpd/conf.d/resultsdb.conf:ro,z
    ports:
      - 127.0.0.1:5001:5001
    healthcheck:
      <<: *greenwave-healthcheck
      test: >-
        /app/entrypoint.sh python -c 'import requests;
        requests.get("http://127.0.0.1:5001/api/v2.0/healthcheck").raise_for_status();'
    depends_on:
      - resultsdb-db

  waiverdb-db:
    <<: *resultsdb-db
    env_file: ["docker/waiverdb-db.env"]

  waiverdb:
    image: quay.io/factory2/waiverdb:latest@sha256:5fcf0bb8a74b1e7b1a831a885fc34008e7686793f2256bf363f7d59cc058d304
    env_file: ["docker/waiverdb.env"]
    environment:
      - GREENWAVE_LISTENERS=${GREENWAVE_LISTENERS:-1}
    command: ["bash", "-c", "/start.sh"]
    volumes:
      - ./docker/home:/home/dev:rw,z
      - ./docker/waiverdb-command.sh:/start.sh:ro,z
      - ./docker/waiverdb-settings.py:/etc/waiverdb/settings.py:ro,z
      - ./docker/client_secrets.json:/etc/secret/client_secrets.json:ro,z
    ports:
      - 127.0.0.1:5004:5004
    user: '0'
    healthcheck:
      <<: *greenwave-healthcheck
      test: >-
        /app/entrypoint.sh python -c 'import requests;
        requests.get("http://127.0.0.1:5004/healthcheck").raise_for_status();'
    depends_on:
      - waiverdb-db

  memcached:
    image: "quay.io/factory2/memcached:latest@sha256:49d8e413ff528ce4be6320d432e3fcd7f691a8ad2c9b5784dc58b1054a1b45fb"
    ports:
      - 127.0.0.1:11211:11211

  resultsdb-listener:
    <<: *greenwave
    command:
      - "gunicorn"
      - "--reload"
      - "--workers=2"
      - "--threads=2"
      - "--bind=0.0.0.0:8082"
      - "--access-logfile=-"
      - "--enable-stdio-inheritance"
      - "greenwave.resultsdb_listener:app"
    ports:
      - 127.0.0.1:8082:8082
    deploy:
      replicas: ${GREENWAVE_LISTENERS:-1}

  waiverdb-listener:
    <<: *greenwave
    command:
      - "gunicorn"
      - "--reload"
      - "--workers=2"
      - "--threads=2"
      - "--bind=0.0.0.0:8083"
      - "--access-logfile=-"
      - "--enable-stdio-inheritance"
      - "greenwave.waiverdb_listener:app"
    ports:
      - 127.0.0.1:8083:8083
    deploy:
      replicas: ${GREENWAVE_LISTENERS:-1}

  message-broker:
    image: docker.io/apache/activemq-artemis:latest-alpine@sha256:1bce124d2324faeb1253e2db4bb68d64decf46412ecfd8d9ef46c08b1b4af5b4
    restart: unless-stopped
    volumes:
      - ./docker/broker.xml:/var/lib/artemis-instance/etc-override/broker.xml:ro,z
    ports:
      - 127.0.0.1:5671:5671    # amqp
      - 127.0.0.1:61612:61612  # stomp
      - 127.0.0.1:8162:8161    # http
    deploy:
      replicas: ${GREENWAVE_LISTENERS:-1}

  jaeger:
    image: quay.io/jaegertracing/all-in-one:latest@sha256:ab6f1a1f0fb49ea08bcd19f6b84f6081d0d44b364b6de148e1798eb5816bacac
    ports:
      - 127.0.0.1:6831:6831/udp
      - 127.0.0.1:6832:6832/udp
      - 127.0.0.1:5778:5778
      - 127.0.0.1:16686:16686
      - 127.0.0.1:4317:4317
      - 127.0.0.1:4318:4318
      - 127.0.0.1:14250:14250
      - 127.0.0.1:14268:14268
      - 127.0.0.1:14269:14269
      - 127.0.0.1:9411:9411
    environment:
      - COLLECTOR_ZIPKIN_HOST_PORT=:9411
      - COLLECTOR_OTLP_ENABLED=true

networks:
  default:
    driver: bridge
